# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]

# Change these settings to your own preference
indent_style = space
indent_size = 2

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[**.md]
trim_trailing_whitespace = false

[**.js]
; Path to the external file format
; The default is taken from the lib folder inside the folder extension.
path=~/.vim/plugged/js-beautify/js/lib/beautify.js
; Javascript interpreter to be invoked by default 'node'
bin=node
indent_style = space
indent_size = 2
jslint_happy = true
brace_style = collapse


[**.css]
path=~/.vim/plugged/js-beautify/js/lib/beautify-css.js
indent_style = space
indent_size = 2

[**.html]
; Using special comments
; And such comments or apply only in global configuration
; So it's best to avoid them
;vim:path=~/.vim/plugged/js-beautify/js/lib/beautify-html.js
;vim:max_char=78:brace_style=expand
indent_style = space
indent_size = 2

